body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
}
.navbar {
    background-color: rgba(3, 80, 0, 0.8) !important;
}

.jumbotron {
    background-image: url('../public/img/CinethequeA.webp');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}
.card {
    background-color: #1a1a1a;
    border: none;
    transition: transform 0.3s;
}
.card:hover {
    transform: scale(1.05);
}
.card-img-top {
    height: 250px;
    object-fit: cover;
}
.btn-primary {
    background-color: #e50914;
    border-color: #e50914;
}
.btn-primary:hover {
    background-color: #b2070e;
    border-color: #b2070e;
}
.section-title {
    border-left: 4px solid #e50914;
    padding-left: 10px;
}






.login-container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 400px;
    width: 100%;
}
.form-control {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
}
.form-control::placeholder {
    color: rgba(255, 255, 255, 0.7);
}
.btn-cinema {
    background: linear-gradient(to right, #00fdb1, #01c0b3);
    border: none;
    color: white;
    transition: transform 0.3s ease;
}
.btn-cinema:hover {
    transform: scale(1.05);
}




.footer {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 20px 0;
}
